.home {
  padding: 1rem;

  &__heading-container {
    position: relative;
    width: 100%;
    height: 200px;
    padding: 1rem;
  }

  &__heading {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    color: #333;
    z-index: 2;
  }

  &__blob {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130%;
    z-index: 1;
  }

  &__description {
    margin-top: 5rem;
    text-align: center;
    font-size: 1.4rem;
    color: #555;
    font-weight: 400;
  }

  &__current-routine {
    margin-top: 40px;
    text-align: center;

    &--heading {
      font-size: 1.8rem;
      margin-bottom: 0;
      text-align: center;
      color: #333;
    }
  }
}


@media screen and (min-width:768px) {
    .home{
        padding: 2rem;
        &__blob{
            height: 180%;
        }
        &__heading{
            font-size: 5rem;
            width: 60%;
            left:60%;
            top:70%;
        }
        &__description{
            margin: 15rem 0 6rem 0;
        }
    }
}

@media screen and (min-width: 1024px) {
    .home{
        &__blob{
            height: 250%;
        }

        &__heading{
            font-size: 8rem;
            top:85%;
            left: 55%;
        }
        &__description{
            font-size: 2.4rem;
            margin: 23rem 0 7rem 0;
            padding:2rem;
        }
    }
}

@media screen and (min-width: 1440px) {
    .home{
        &__blob{
            height:350%;
        }
        &__heading{
            font-size: 9.5rem;
            top: 120%;
            left:60%;
        }
        &__description{
            margin: 39rem 0 9rem 0;
            font-size: 2.8rem;
            padding: 3rem
        }
    }
}