.product-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .product-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .product-list {
    padding: 1.5rem;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
