.product-card {
  width: 75%;
  height: 20rem;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0.5rem;
  position: relative;
  margin-top: unset;
  text-decoration: none;
  &__image {
    height: 10rem;
    margin-bottom: 1rem;
    top: 0.5rem;
  }
  &__info {
    text-align: center;
    margin: 0.5rem;
  
  }

  &__button {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    z-index: 0;
  }
  &__content {
    position: absolute;
    padding: 1rem;
    z-index: 1;
    bottom: 0;
    &--back {
      bottom: 0;
      left: 0;
      height: 100%;
      padding: 0 1.25rem;
      overflow-y: auto;
      background: rgba(black, 0.75);
      color: white;

    }
    & > * {
      margin: 0.625rem 0;
    }
  }
  &__cross {
    position: absolute;
    top: 0;
    height: 1rem;
    left:0.3rem;
  }
  &__even-more{
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .product-card{
    width: 75%;
    justify-self: center;
  }
}

@media screen and (min-width: 1024px) {
  .product-card{
    height: 25rem;
    &__image{
      height: 13.3rem; 
    }
  }
}

@media screen and (min-width: 1440px) {
  .product-card{
    &__image{
      height:12rem;
    }
  }
}