.product-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 70%;
}
.product-card {
  width: 75%;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  &__image {
    width: 90%;
    margin-bottom: 1rem;
  }
  &__info {
    text-align: center;
    margin: 0.5rem 0;
    &--rating {
      font-weight: bold;
    }
  }

  &__button {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
}
