

.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
 ;

  .carousel__image {
    box-shadow: 0 0.625rem 1.25rem rgba(black, 0.25);
    height: 10rem;
    border-radius: 1rem;
  }

  .carousel__arrow {
    height: 1.875rem;
    appearance: none;
    background-color: unset;
    border: none;
    padding: 0;

    & > * {
      height: 100%;
    }

    &:hover {
      cursor: pointer;
    }
  }
}


